.coffee-details {   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}


.details-img {
    position: relative;
    padding: 15px;
}

.details-btn {
display: flex;
}
