 .details-container {
    background-color: aliceblue;
    text-align: center;
 }
 
 
 .coffee-details {  
    display: flex; 
    text-align: center;
    padding: 30px 100px 0 100px;
}
.details-text {
    border: 1px solid grey;
    background-color: rgb(232, 231, 231);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0.1);
    padding-bottom: 10px;
}
.details-img {
    position: relative;
    padding: 15px;
}
.comments {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0.1);
    height: 300px;
    background-color: rgb(229, 229, 229);
}
.blog_img {
    max-width: 350px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
}
.image {
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0.1);

}
.button {
    width: 100%;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f01c1c;
    text-transform: uppercase;
    padding: 8px;
}

@media (min-width: 768px) {
    .col-md-6 {
        max-width: 30%;
    }
}

read_btn {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f01c1c;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f01c1c;
    text-transform: uppercase;
    padding: 8px;
}

.strong {
    font-weight: 600;
}
.strong:hover {
    color: red;
}
