.coffee_section {
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 20px;
}

.row-coffees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 100%;
}

.coffee_img img {
  height: 200px;
  width: 100%;
}
