.button {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f01c1c;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f01c1c;
    text-transform: uppercase;
    padding: 8px;
}

.comment-text {
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0.1);
    padding: 20px;
}