.register_section {
    background-color: aliceblue;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
}

.input_group {
    margin-bottom: 15px;
    text-align: left;
    
}
.register_section {
    padding-top: 0;
}

.register-button {
    background-color: red;
    padding: 9px 50px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    color: #f4f4f4;
}

.send_bt {
    margin-top: 30px;
    width: 170px;
    margin: 19px auto;
    text-align: center;
}
.register_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error_message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}